@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,700')

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Source Code Pro', monospace

.header
  background url('https://s3-us-west-2.amazonaws.com/mitchoneill-ca/laosbgrd.JPG')
  background-position center
  height 150px
  .page-title
    font-weight 200
    font-size 80px
    text-align center
    padding 10px
    text-transform uppercase
    color #fff

    a
      color #fff
      &:visited
        color #fff
.nav
  background #000
  text-align center

  li
    display inline-block

  a
    display inline-block
    padding 20px 40px
    color #fff
    text-decoration none
    &:hover
      background-color #3AB795
      text-decoration underline
    &:visited
      color #fff

.main-content
  margin 4.5em auto

  p
    line-height 1.6
    margin-bottom 1.7em


.footer
  margin 50px auto
  max-width 600px
  border-top 1px solid #444
  padding 20px 0

  p
    color #444
    font-size 12px

#intro
  max-width 50%
  margin-left 25%
  margin-bottom 4.5em

div.container
  width 100%
  padding-left 10%
  padding-right 10%

  table
    width 100%
    cursor pointer

    td
      text-align center
      width 25%
      div.description
        display none
        text-align left
        background #F8F8F8
        position relative
        border 5px solid #DFDFDF
        text-align left
        font-size 13px
        line-height 20px
        top 1em
        width 100%
        padding 0 20px

    i
      font-size 100px

    img
      width 100px
      height 100px

div.contact
  padding-left 15%
  padding-top 3em





