extend default

block content
  div.contact
    h1 Contact Information:
    br
    p Name: Mitchell O'Neill
    p Number: 778 998 6750
    p Email: 7moneill@gmail.com
    p #[a(href="https://github.com/MitchellONeill") Github Profile]
    p #[a(href="https://ca.linkedin.com/in/mitchell-o-neill-02ab7347") LinkedIn Profile]
