doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    link(rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css")
    link(rel='icon', href='https://cdn.pixabay.com/photo/2016/06/30/03/12/candycane-1488232_960_720.png')
    script(type='text/javascript' src='/vendor/jquery/jquery-2.2.3.min.js')
    title Mitchell O'Neill
  body
    .header
      h1.page-title: a(href="/") Mitchell O'Neill

    ul.nav
      li: a(href='https://jockbuff-fantasy.herokuapp.com/') JockBuff
      li: a(href='https://junglestore.herokuapp.com/') JungleStore
      li: a(href='https://github.com/MitchellONeill/chatty_app') ChattyApp
      li: a(href='http://shia-just-do-it.herokuapp.com/') JustDoIt
      li: a(href='https://resume.creddle.io/resume/74ynjh57ihf') Resume
      li: a(href='contact') Contact

    .main-content
      block content
