extend default

block content
  #intro
    h2 Welcome!
    span Please visit the tabs above to see a sample of the projects I have been working on since taking on the Lighthouse Labs web development bootcamp in September 2016. I am excited to learn new languages, take on difficult tasks and produce elegant and efficient code. Please visit the #[a(href="/contact") contact page] if you're interested in requesting further information.
  div.container
    table
      theader
        td
          h2 Languages:
        td
          h2 Libraries:
        td
          h2 Front-End:
        td
          h2 Back-End:
      tr
        td.languages
          div.icons
            i.devicon-javascript-plain
            i.devicon-ruby-plain-wordmark
            br
            img(src = "https://developer.r-project.org/Logo/Rlogo-3.png")
          div.description
            ul #[u Javascript Credentials:]
              li Focus of weeks 1-5 + prep course for Lighthouse Labs
              li Experience with NodeJS express servers
              li ChattyApp, JustDoIt, mitchoneill.ca
            ul #[u Ruby Credentials:]
              li Focus of weeks 6-8 for Lighthouse Labs
              li JockBuff, JungleStore
            ul #[u R programming Credentials:]
              li Coursera- Data Science Specialization (9 courses)
        td.libraries
          div.icons
            i.devicon-rails-plain-wordmark
            i.devicon-nodejs-plain-wordmark
            br
            i.devicon-react-original-wordmark
            i.devicon-jquery-plain-wordmark
          div.description
            ul #[u Libraries:]
              li #[p I have built two Ruby projects using Rails (JockBuff, JungleStore) and have studied angular for use in future nodeJS apps. For JockBuff I used graphing libraries like HighCharts + Waypoint and I was tasked with controlling the entire API data flow from Yahoo using omniauth (as well as correcting a gem to connect specifically with Yahoo) and HTTParty]
        td.front-end
          div.icons
            i.devicon-css3-plain-wordmark
            i.devicon-bootstrap-plain-wordmark
            br
            img(src = "http://i.imgur.com/5zf2aVt.png")
            i.devicon-foundation-plain-wordmark
          div.description
            ul #[u Front-end:]
              li #[p I have expeharience with multiple front end frameworks including Bootstrap and Foundation. The #[a(href='https://jockbuff-fantasy.herokuapp.com/') Jockbuff website], my final group project at Lighthouse, was done with Bootsrap and I was responsible for many of the customizable graphs and DOM manipulation using Jquery. I am keen to work with new or different technology, this site was built using a jade/pug template engine.]
        td.back-end
          div.icons
            i.devicon-mongodb-plain-wordmark
            i.devicon-postgresql-plain-wordmark
          div.description
            ul #[u Back-End:]
              li #[p I have worked with document-oriented databases (mongo) and relational databases (postgres). Deployed Node (including this site), Ruby and Websockets servers and used Ajax and React for dynamic loading. With JockBuff, I also created the normalized ranking algorithim along with related methods to manipulate the prediction data to fit the specialized charts, graphs and features]

  script.
    $("td.languages").hover(function(){
      $("td.languages div.description").css('display', 'block');
      $("td.languages div.icons").css('display', 'none');
    },
    function(){
      $("td.languages div.description").css('display', 'none');
      $("td.languages div.icons").css('display', 'block');
    });

    $("td.libraries").hover(function(){
      $("td.libraries div.description").css('display', 'block');
      $("td.libraries div.icons").css('display', 'none');
    },
    function(){
      $("td.libraries div.description").css('display', 'none');
      $("td.libraries div.icons").css('display', 'block');
    });

    $("td.front-end").hover(function(){
      $("td.front-end div.description").css('display', 'block');
      $("td.front-end div.icons").css('display', 'none');
    },
    function(){
      $("td.front-end div.description").css('display', 'none');
      $("td.front-end div.icons").css('display', 'block');
    });

    $("td.back-end").hover(function(){
      $("td.back-end div.description").css('display', 'block');
      $("td.back-end div.icons").css('display', 'none');
    },
    function(){
      $("td.back-end div.description").css('display', 'none');
      $("td.back-end div.icons").css('display', 'block');
    });







