extend default

block content
  #intro
    h2 Welcome!
    span Please visit the tabs above to see a sample of the projects I have been working on since taking on the Lighthouse Labs web development bootcamp in September 2016. I am excited to learn new languages, take on difficult tasks and produce elegant and efficient code. Please visit the #[a(href="/contact") contact page] if you're interested in requesting further information.
  table.container
    theader
      td
        h2 Languages:
      td
        h2 Front-end:
      td
        h2 Libraries:
      td
        h2 Databases:
    tr
      td
        i.devicon-javascript-plain
        i.devicon-ruby-plain-wordmark
      td
        i.devicon-css3-plain-wordmark
        i.devicon-bootstrap-plain-wordmark
      td
        i.devicon-rails-plain-wordmark
        i.devicon-nodejs-plain-wordmark
      td
        i.devicon-mongodb-plain-wordmark
        i.devicon-postgresql-plain-wordmark
    tr
      td
        img(src = "https://developer.r-project.org/Logo/Rlogo-3.png")
      td
        img(src = "http://i.imgur.com/5zf2aVt.png")
        i.devicon-foundation-plain-wordmark
      td
        i.devicon-react-original-wordmark
        i.devicon-jquery-plain-wordmark




