extend default

block content
  #intro
    h2 Welcome!
    p.
      Please visit the tabs above to see a sample of the projects I have been working on since taking on the Lighthouse Labs web development bootcamp in September 2016.
