extend default

block content
  #intro
    h2 Welcome!
    p.
      Please visit the tabs above to see a sample of the projects I have been working on since taking on the Lighthouse Labs web development bootcamp in September 2016.
#projectspec
    h2 Languages and Libraries:
    table
      thead
        td mitchoneill.ca
        td JockBuff
        td JungleStore
        td ChattyApp
        td JustDoIt
      tr
        td
          div
            i.devicon-nodejs-plain
            img(src = "http://garthdb.com/img/jade_branding/jade-01.svg")
          div
            i.devicon-postgresql-plain
        td
          div
            i.devicon-ruby-plain
            i.devicon-rails-plain
          div
            i.devicon-jquery-plain
            i.devicon-bootstrap-plain
        td
          div
            i.devicon-ruby-plain
            i.devicon-rails-plain
          div
            i.devicon-postgresql-plain
            i.devicon-heroku-original
        td
          div
            i.devicon-nodejs-plain
            i.devicon-react-original
        td
          div
            i.devicon-nodejs-plain
            i.devicon-foundation-plain
          div
            i.devicon-heroku-original



